h1{
    color: black;
}
.infostyling{
    color: black;
}
.emaillink{
    color: black;
}
.text-primarylastname{
    color: black;
}
.other-links-section{
    color: black;
    margin-left: 30px;
}
.navbar-test{
    color: olive;
}

.nav-item{
    color: white;
}

.subheading{
    font-size: medium;
}